{% extends "template.html"%}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <th>{{ jogo.nome }}</th>
                    <th>{{ jogo.categoria }}</th>
                    <th>{{ jogo.console }}</th>
                    <th><a href="{{ url_for('editar', id=jogo.id) }}">Editar</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}